*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side{
    width: 200px;
    height:85vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color:rgba(128, 128, 128, 0.432);
    position: absolute;
    top:56px;
    padding-top: 40px;
}


.navc{
    position: sticky;
    top: 0;
}

.sidebar{
    width: 100%;
    border-bottom: 1px dashed;
    padding: 5px;

}
.centering{
    width: 300px;
    position: absolute;
    left: 250px;
}

.prod{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 10px;
    place-items: center;
}

.text{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main{
    width: 500px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 2.5px 1.5px rgba(4, 102, 4, 0.432);
}

.img img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 5px;
    padding: 2px;
}

span{
    font-weight: 700;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 1.5px greenyellow;
}

@media screen and (max-width:576px) {
    .prod{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
        padding: 10px;
        place-items: center;
    }

    
.main{
    width: 350px;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 2.5px 1.5px rgba(4, 102, 4, 0.432);
}

h3{
    font-size: 18px;
}

h4{
    font-size: 16px;
}

.side{
    width: 150px;
    height:85vh;
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color:rgba(128, 128, 128, 0.432);
    position: absolute;
    top:56px;
    padding-top: 40px;
}

.centering{
    width: 200px;
    position: absolute;
    left: 160px;
}

}